extends layout

block content
  body
    form(method='POST', action='/books/new')  
      label(for='title') Title: &nbsp;
      input#title(type='text' name='title' required) 
      br
      label(for='author') Author: &nbsp;
      input#author(type='text' name='author' required)
      br
      label(for='genre') Genre: &nbsp;
      input#genre(type='text' name='genre')
      br
      label(for="year") Year: &nbsp;
      input#year(name="year" type="text")

      // Submit button to create a new book
      p
        input(type="submit" value="Create New Book")

      // Cancel button to return to the home page
      p
        a.button(href="/") Cancel
